@import "../../app.scss";

.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;
    z-index: 1;

    .wrapper {
        max-width: 800px;
        height: 100%;
        margin: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .textContainer {
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            z-index: 2;

            @include mobile{
                height: 100%;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;
                justify-content: flex-start;
            }

            h2 {
                font-size: 40px;
                color: coral;
                letter-spacing: 12px;
                animation: slide 3s infinite alternate;
                font-family: 'Montserrat', sans-serif;
                transition: transform 0.3s ease, text-shadow 0.3s ease;
                
                @include mobile{
                    font-size: 20px;
                }
            
            }
            
            h2:hover {
                transform: scale(1.1);
                text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
            }
            
            @keyframes slide {
                0% {
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(5px);
                }
            }
            
            

            h1 {
                font-size: 58px;
                color: white;
                @include mobile{
                    font-size: 32px;
                }
            }

            .buttons {
                
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 20px;

                .lat-button {
                    position: relative;
                    overflow: hidden;
                    height: 3rem;
                    padding: 0 2rem;
                    border-radius: 10px;
                    background: #3d3a4e;
                    background-size: 400%;
                    color: #fff;
                    border: none;
                    cursor: pointer;

                    @include mobile{
                        height: 2rem;
                        padding: 0 1.5rem;
                    }
                  }
                  
                  .lat-button:hover::before {
                    transform: scaleX(1);
                  }
                  
                  .lat-button-content {
                    position: relative;
                    z-index: 1;
                    font-size: 15px;
                    font-family: 'Montserrat', sans-serif;
                    
                    @include mobile{
                        font-size: 12px;
                    }
                  }
                  
                  .lat-button::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: scaleX(0);
                    transform-origin: 0 50%;
                    width: 100%;
                    height: inherit;
                    border-radius: inherit;
                    background: linear-gradient(
                      82.3deg,
                      rgba(150, 93, 233, 1) 10.8%,
                      rgba(99, 88, 238, 1) 94.3%
                    );
                    transition: all 0.475s;
                  }
                  

            }

            img {
                width: 50px;
            }
        }

        .imageContainer {
            position: absolute;
            bottom: 0;
            right: 100px;
            transform: translateX(50%);
            height: auto;
            z-index: 1;

            @include mobile{
                height: 58%;
                width: 100%;
                right: 242px;
                bottom: 0;
            }

            img {
                height: 600px;
                max-width: 100%;
                display: block;
                margin: auto;

                @include mobile{
                    height: 350px;
                    max-width: 100%;
                    object-fit: cover;
                }
            }
        }

        .slidingTextContainer{
            position: absolute;
            font-size: 50vh;
            bottom: -120px;
            white-space: nowrap;
            color: #ffffff09;
            width: 250%;
            font-weight: bold;

            @include mobile{
                font-size: 20vh;
                bottom: 40px;
            }
        }
    }

    // @media (max-width: 768px) {
    //     .wrapper {
    //         flex-direction: column;
    //         align-items: center;
    //         text-align: center;
    //     }

    //     .imageContainer {
    //         right: 0;
    //         transform: none;
    //         width: 100%;
    //         height: auto;
    //         position: static;
    //         margin-top: 20px;

    //         img {
    //             height: 200px;
    //             max-height: 30vh;
    //         }
    //     }
    // }
}
